body {
    margin: 0;
}

.logo {
    width: 220px;
}

.header {
    text-align: center;
    margin-top: 20px;
}

.content {
    text-align: center;
    width: 70%;
    margin: 40px auto;
    font-size: 24px;
    font-style: italic;
    /* color: #247d45; */
    color: black;
}

.gallery {
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    align-content: space-around;
    margin: 20px auto;
    height: 100%;
}

.img-group1 {
    display: flex;
    width: 100%;
    animation: scroll 40s linear infinite;
}

.img-group1:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 8.1));
    }
}

.img-group2 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    animation: travel 40s linear infinite;
}

.img-group2:hover {
    animation-play-state: paused;
}

@keyframes travel {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(250px * 8.1));
    }
}

.image {
    width: 300px;
    height: 300px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    transition: all 0.8s ease;
}

.image:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2), 6px 6px 20px 20px rgba(0, 0, 0, 0.19);
}

body {
    background: url("/images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(8px);
}